<body class="scroll-assist">
<a id="top"></a>
<div class="loader"></div>
<nav class="transition--fade">
	<div class="nav-bar nav--absolute nav--transparent" data-fixed-at="200">
		<div class="nav-module logo-module left">
			<a href="index.html">
				<img class="logo logo-dark" alt="logo" src="img/logo-dark.png" />
				<img class="logo logo-light" alt="logo" src="img/logo-light.png" />
			</a>
		</div>
		<div class="nav-module menu-module left">


			<div class="nav-mobile-toggle visible-sm visible-xs">
				<i class="icon-Align-Right icon icon--sm"></i>
			</div>
</nav>
<div class="notification pos-right pos-top cart-overview" data-notification-link="cart-overview" data-animation="from-right">
	<div class="cart-overview__title">
		<h5>Your Cart</h5>
	</div>
	<ul class="cart-overview__items">
		<li>
			<div class="item__image">
				<a href="#">
					<img alt="product" src="img/product-small-1.png" />
				</a>
			</div>
			<div class="item__detail">
				<span>Dave Wool Beanie</span>
				<span class="h6">1 x $39.00</span>
			</div>
			<div class="item__remove" title="Remove From Cart"></div>
		</li>
		<li>
			<div class="item__image">
				<a href="#">
					<img alt="product" src="img/product-small-2.png" />
				</a>
			</div>
			<div class="item__detail">
				<span>Rose Tinted Glasses</span>
				<span class="h6">1 x $89.00</span>
			</div>
			<div class="item__remove" title="Remove From Cart"></div>
		</li>
	</ul>
	<div class="cart-overview__subtotal">
		<h5>Subtotal:</h5>
		<span>$128.00</span>
	</div>
	<div class="cart-overview__action">
		<a href="#" class="btn btn--square btn--primary">
                    <span class="btn__text">
                        Checkout Now
                    </span>
		</a>
	</div>
</div>
<div class="modal-container search-modal" data-modal-id="search-form">
	<div class="modal-content bg-white imagebg" data-width="100%" data-height="100%">
		<div class="pos-vertical-center clearfix">
			<div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 text-center">
				<form class="clearfix">
					<div class="input-with-icon">
						<i class="icon-Magnifi-Glass2 icon icon--sm"></i>
						<input type="search" name="query" placeholder="Type your search and hit enter" />
					</div>
				</form>
			</div>
		</div>
	</div>
	<!--end of modal-content-->
</div>
<!--end of modal-container-->
<div class="main-container transition--fade">
	<section class="slider slider--animate height-100 cover cover-5 parallax" data-arrows="true" data-paging="true" data-timing="5000">
		<ul class="slides">
			<li class="imagebg" data-overlay="4">
				<div class="background-image-holder">
					<img alt="image" src="img/contimg1.jpg" />
				</div>
				<div class="container pos-vertical-center">
					<div class="row">
						<div class="col-sm-12 text-center">
							<h1>Existing Courses</h1>
							<p class="lead">
								Let us know about the blind accessible courses available out there, so that we can pass them on to the right people!
							</p>
							<a class="btn btn--primary" href="variant/builder.html">
                                        <span class="btn__text">
                                            Tell us now!
                                        </span>
							</a>
						</div>
					</div>
				</div>
			</li>
			<li class="imagebg" data-overlay="4">
				<div class="background-image-holder">
					<img alt="image" src="img/contimg2.jpg" />
				</div>
				<div class="container pos-vertical-center">
					<div class="row">
						<div class="col-sm-12 text-center">
							<h1>Important Courses</h1>
							<p class="lead">
								Let us know about the courses that you think are important and needs to be adapted for the blind!
							</p>
							<a class="btn btn--primary" href="#">
                                        <span class="btn__text">
                                            Start Now!
                                        </span>
							</a>
						</div>
					</div>
				</div>
			</li>
			<li class="imagebg" data-overlay="4">
				<div class="background-image-holder">
					<img alt="image" src="img/contimg3.jpg" />
				</div>
				<div class="container pos-vertical-center">
					<div class="row">
						<div class="col-sm-12 text-center">
							<h1>Adapt Courses</h1>
							<p class="lead">
								We are trying hard to make the courses accessible but unluckily, our machines are not smart enough, please help them get their work done!
							</p>
							<a class="btn btn--primary" href="variant/builder.html">
                                        <span class="btn__text">
                                            Contribute Now!
                                        </span>
							</a>
						</div>
					</div>
				</div>
			</li>
		</ul>
	</section>
	<section>
		<div class="container">
			<div class="row">
				<div class="col-sm-8 col-sm-offset-2 text-center">
					<h3>It's your community,
						<em>your responsibility.</em>
					</h3>
					<p class="lead">
						This site is here helping millions just because of your generous contributions!
					</p>
				</div>
			</div>
			<!--end of row-->
		</div>
		<!--end of container-->
	</section>
	<section>
		<div class="container">
			<div class="row">
				<div class="col-md-5">
					<h5>It is all about you!</h5>
					<p>
						eye·learn is a non-profit platform that depends mainly on the community for providing the quality education that can help the blind. We depend on volunteers for adapting online courses available on other platforms and making them accessible to the blind, in addition to creating new readily accessible courses. This means that you are the reason of why eye·learn is here. Please do continue supporting eye·learn for providing the quality education equally for everyone.
					</p>
				</div>
				<div class="col-md-6 col-md-offset-1">
					<div class="barchart barchart-2" data-value="50">
						<div class="barchart__description">
							<span class="h6">Volunteers</span>
						</div>
						<div class="barchart__bar">
							<div class="barchart__progress"></div>
						</div>
					</div>
					<!--end of barchart-->
					<div class="barchart barchart-2" data-value="20">
						<div class="barchart__description">
							<span class="h6">Community</span>
						</div>
						<div class="barchart__bar">
							<div class="barchart__progress"></div>
						</div>
					</div>
					<!--end of barchart-->
					<div class="barchart barchart-2" data-value="15">
						<div class="barchart__description">
							<span class="h6">Donations</span>
						</div>
						<div class="barchart__bar">
							<div class="barchart__progress"></div>
						</div>
					</div>
					<!--end of barchart-->
					<div class="barchart barchart-2" data-value="15">
						<div class="barchart__description">
							<span class="h6">Cofounders</span>
						</div>
						<div class="barchart__bar">
							<div class="barchart__progress"></div>
						</div>
					</div>
					<!--end of barchart-->
				</div>
			</div>
			<!--end of row-->
		</div>
		<!--end of container-->
	</section>
	<section class="testimonial testimonial-3">
		<div class="container">
			<div class="row">
				<div class="col-sm-6 col-sm-push-6">
					<div class="testimonial__text">
						<blockquote>
							&ldquo;IF ONLINE courses are to play a key role in the future of higher education, they need to be usable by all students, including those with disabilities.
							&rdquo;
						</blockquote>
						<h5>&mdash; The Editorial Board</h5>
						<span class="h6">Boston Globe</span>
					</div>
				</div>
				<div class="col-sm-6 col-sm-pull-6">
					<img alt="avatar" src="img/avatar-large-2.png" />
				</div>
			</div>
			<!--end of row-->
		</div>
		<!--end of container-->
	</section>
	<section class="bg--white partners-1 space--sm">
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<div class="slider" data-items="6" data-timing="3000">
						<ul class="slides">
							<li>
								<img alt="img" src="img/partner1.png" />
							</li>
							<li>
								<img alt="img" src="img/partner2.png" />
							</li>
							<li>
								<img alt="img" src="img/partner4.png" />
							</li>
							<li>
								<img alt="img" src="img/partner3.png" />
							</li>
							<li>
								<img alt="img" src="img/partner5.png" />
							</li>
							<li>
								<img alt="img" src="img/partner6.png" />
							</li>

						</ul>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="bg--primary space--sm cta cta-5">
		<div class="container">
			<div class="row">
				<div class="col-sm-12 text-center">
					<h4>Interested in helping eye·learn grow?</h4>
					<a class="btn btn--sm" href="page-contact-form-simple.html">
                                <span class="btn__text">
                                    We can't wait to see your contributions!
                                </span>
					</a>
				</div>
			</div>
			<!--end of row-->
		</div>
		<!--end of container-->
	</section>
	<footer class="bg--dark footer-1 text-center-xs">
		<div class="container">
			<div class="row">
				<div class="col-md-6 col-sm-6">
					<a href="#">
						<img class="logo" alt="Pillar" src="img/logo-light.png" />
					</a>
					<p>
						<em>Proudly</em> developed
						in Vancouver, Canada.
					</p>
				</div>
				<!-- <div class="col-md-5 col-sm-8"> -->
				<div class="col-md-6 col-sm-6">
					<!-- <h6>Navigate</h6> -->
					<br>
					<ul class="footer__navigation">
						<li>
							<a href="#">
								<span>About Us</span>
							</a>
						</li>
						<!-- </ul>
						<ul class="footer__navigation"> -->
						<li>
							<a href="#">
								<span>Services</span>
							</a>
						</li>
						<!-- </ul>
						<ul class="footer__navigation"> -->
						<li>
							<a href="#">
								<span>Careers</span>
							</a>
						</li>
						<!-- </ul>
						<ul class="footer__navigation" -->
						<li>
							<a href="#">
								<span>Terms of Service</span>
							</a>
						</li>
					</ul>
				</div>
				<!-- <div class="col-md-4 col-sm-12">
					<h6>Subscribe</h6>
					<p>
						Get monthly updates and free resources.
					</p>
					<form class="form--merge form--no-labels" action="http://mrareco.createsend.com/t/d/s/kieth/" method="post" id="subForm" data-error="Please fill all fields correctly." data-success="Thanks for signing up! Please check your inbox for confirmation email.">
						<p>
							<label for="fieldEmail">Email Address</label>
							<br />
							<input class="col-md-8 col-sm-6 validate-required validate-email" id="fieldEmail" name="cm-kieth-kieth" type="email" required />
						</p>
						<p>
							<button type="submit">Go</button>
						</p>
					</form>
				</div> -->
			</div>
			<div class="row footer__lower text-center-xs">
				<!-- <div class="col-sm-12"> -->
				<hr>
				<!-- </div> -->
				<div class="col-sm-6">
                            <span class="type--fine-print">&copy; Copyright
                                <span class="update-year">2017</span> <strong>eye·learn</strong> - All Rights Reserved</span>
				</div>
				<div class="col-sm-6 text-right text-center-xs">
					<ul class="social-list">
						<li>
							<a href="#">
								<i class="socicon-twitter"></i>
							</a>
						</li>
						<li>
							<a href="#">
								<i class="socicon-dribbble"></i>
							</a>
						</li>
						<li>
							<a href="#">
								<i class="socicon-vimeo"></i>
							</a>
						</li>
						<li>
							<a href="#">
								<i class="socicon-instagram"></i>
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</footer>
</div>
<script src="js/jquery-2.1.4.min.js"></script>
<script src="js/isotope.min.js"></script>
<script src="js/ytplayer.min.js"></script>
<script src="js/easypiechart.min.js"></script>
<script src="js/owl.carousel.min.js"></script>
<script src="js/lightbox.min.js"></script>
<script src="js/twitterfetcher.min.js"></script>
<script src="js/smooth-scroll.min.js"></script>
<script src="js/scrollreveal.min.js"></script>
<script src="js/parallax.js"></script>
<script src="js/scripts.js"></script>
</body>