<body class="scroll-assist">

<div class="loader"></div>
<nav class="transition--fade">
	<div class="nav-bar nav--absolute nav--transparent" data-fixed-at="200">
		<div class="nav-module logo-module left">

			<img class="logo logo-dark" alt="logo" src="img/logo-dark.png" />
			<img class="logo logo-light" alt="logo" src="img/logo-light.png" />

		</div>
		<div class="nav-module menu-module left">
			<ul class="menu">
			</ul>
		</div>
		<!--end nav module-->

	</div>
	<!--end nav bar-->
	<div class="nav-mobile-toggle visible-sm visible-xs">
		<i class="icon-Align-Right icon icon--sm"></i>
	</div>
</nav>

<div class="main-container transition--fad">
	<section class="slider slider--animate height-100 cover cover-5 parallax" data-arrows="true" data-paging="true" data-timing="10000000">
		<ul class="slides">
			<div class="video-cover">
				<!-- <div class="background-image-holder">
					<img alt="image" src="img/small2.jpg" />
				</div>
				<div class="video-play-icon "></div> -->
				<!-- <iframe id="movie-player" src="https://cdn.kastatic.org/KA-youtube-converted/FQFBygnIONU.mp4/FQFBygnIONU.mp4" allowfullscreen="allowfullscreen"></iframe> -->
				<video controls>
					<source src="https://cdn.kastatic.org/KA-youtube-converted/FQFBygnIONU.mp4/FQFBygnIONU.mp4" type="video/mp4">
				</video>
			</div>
			<div class="col-sm-6">
				<div class="video-cover">
					<div class="background-image-holder">
						<img alt="image" src="img/small1.jpg" />
					</div>
				</div>
			</div>
		</ul>
	</section>

	<section>
		<div class="container">
			<div class="row">
				<div class="col-sm-8 col-sm-offset-2 text-center">
					<!--<h3>It's Your Site,-->
						<!--<em>Your Way.</em>-->
					<!--</h3>-->
					<!--<p class="lead">-->
						<!--Eye Learn is a team of passionate designers, developers and artists working in print and digital.-->
					<!--</p>-->
				</div>
			</div>
			<!--end of row-->
		</div>
		<!--end of container-->
	</section>
	<!--end of modal-container-->
	<div class="main-container transition--fade">
		<section class="slider slider--animate height-100 cover cover-5 parallax" data-arrows="true" data-paging="true" data-timing="5000">
			<ul class="slides">


			</ul>
		</section>
	</div>
	<footer class="bg--dark footer-1 text-center-xs">
		<div class="container">
			<div class="row">
				<div class="col-md-6 col-sm-6">
					<a href="#">
						<img class="logo" alt="Pillar" src="img/logo-light.png" />
					</a>
					<p>
						<em>Proudly</em> developed
						in Vancouver, Canada.
					</p>
				</div>
				<!-- <div class="col-md-5 col-sm-8"> -->
				<div class="col-md-6 col-sm-6">
					<!-- <h6>Navigate</h6> -->
					<br>
					<ul class="footer__navigation">
						<li>
							<a href="#">
								<span>About Us</span>
							</a>
						</li>
						<!-- </ul>
						<ul class="footer__navigation"> -->
						<li>
							<a href="#">
								<span>Services</span>
							</a>
						</li>
						<!-- </ul>
						<ul class="footer__navigation"> -->
						<li>
							<a href="#">
								<span>Careers</span>
							</a>
						</li>
						<!-- </ul>
						<ul class="footer__navigation" -->
						<li>
							<a href="#">
								<span>Terms of Service</span>
							</a>
						</li>
					</ul>
				</div>
				<!-- <div class="col-md-4 col-sm-12">
					<h6>Subscribe</h6>
					<p>
						Get monthly updates and free resources.
					</p>
					<form class="form--merge form--no-labels" action="http://mrareco.createsend.com/t/d/s/kieth/" method="post" id="subForm" data-error="Please fill all fields correctly." data-success="Thanks for signing up! Please check your inbox for confirmation email.">
						<p>
							<label for="fieldEmail">Email Address</label>
							<br />
							<input class="col-md-8 col-sm-6 validate-required validate-email" id="fieldEmail" name="cm-kieth-kieth" type="email" required />
						</p>
						<p>
							<button type="submit">Go</button>
						</p>
					</form>
				</div> -->
			</div>
			<div class="row footer__lower text-center-xs">
				<!-- <div class="col-sm-12"> -->
				<hr>
				<!-- </div> -->
				<div class="col-sm-6">
                            <span class="type--fine-print">&copy; Copyright
                                <span class="update-year">2017</span> <strong>eye·learn</strong> - All Rights Reserved</span>
				</div>
				<div class="col-sm-6 text-right text-center-xs">
					<ul class="social-list">
						<li>
							<a href="#">
								<i class="socicon-twitter"></i>
							</a>
						</li>
						<li>
							<a href="#">
								<i class="socicon-dribbble"></i>
							</a>
						</li>
						<li>
							<a href="#">
								<i class="socicon-vimeo"></i>
							</a>
						</li>
						<li>
							<a href="#">
								<i class="socicon-instagram"></i>
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</footer>
</div>
<script src="js/jquery-2.1.4.min.js"></script>
<script src="js/isotope.min.js"></script>
<script src="js/ytplayer.min.js"></script>
<script src="js/easypiechart.min.js"></script>
<script src="js/owl.carousel.min.js"></script>
<script src="js/lightbox.min.js"></script>
<script src="js/twitterfetcher.min.js"></script>
<script src="js/smooth-scroll.min.js"></script>
<script src="js/scrollreveal.min.js"></script>
<script src="js/parallax.js"></script>
<script src="js/scripts.js"></script>
<script src="js/keyboard.js"></script>
</body>